form.login fieldset {
	width: 39%;
	margin-left: 30%;
	margin-top: 5%;
	background-color: #D0D0D0;
	border: 1px solid goldenrod;
}

form.login legend {
	color: darkslategrey;
    background-color: silver;
    font-weight: bold;
	border: 1px solid goldenrod;
	padding: 10px;
	font-size: 25px;
	margin-bottom: 5%;
	margin-left: 10%;
}

input.login {
    margin-left: 10%;
    font-size: 20px;
    padding: 10px;
    border: 1px solid black;
}

input.login:focus {
    outline: none;
    border-color: goldenrod;
    box-shadow: 0 0 10px goldenrod;
}

input[type="submit"].login {
    width: 77%;
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 25px;
	background-color: #FFCC33;
	border: 2px solid black;
}

input[type="submit"].login:hover {
	cursor: pointer;
	color: #FFCC33;
	background-color: grey;
	border-color: #FFCC33;
}

div#signUp a {
	font-size: 25px;
	margin-left: 40%;
    color: lawngreen;
}